.main {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;
}
.subContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 600px;
  text-align: center;
  gap: 20px;
}
.link {
  text-decoration: none;
  background-color: #fff;
  padding: 0.5rem 1.25rem;
  color: #0f0f0f;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media(max-width: 600px) {
  .main{
    height: 100vh;
  }
  .subContainer {
    flex-direction: column;
  }
}